.eixosa {
    display: flex;
    padding: 20px;
    background: lightcoral;
    height: auto;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
        
}

.eixo1 {
    background: lightgreen;
    margin:10px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    
    
}

.eixosb {
    padding: 20px;
    margin: none;
    background: lightcoral;
    height: 180px;
    
}

body{
    background: lightseagreen;
}